# Node modules
node_modules

# ssl keys
server.crt
server.key

# VSCode
.vscode/
.fleet/
scratch

# Logs
logs
*.log
npm-debug.log*
public/npm-debug.log*
nbproject/
.idea/
.DS_Store
.env
bin

#Jest
/coverage/

#Build
/build/

#Cypress
cypress/videos/**/*.mp4
cypress/screenshots/**/*.png

#Mac setup
.zshrc
/server/package-lock.json
